.root {
  display: inline-flex;
  gap: 10px;

  li {
    display: inline-block;

    a {
      display: inline-block;
      line-height: 40px;
      width: 45px;
      height: 45px;
      border: 1px solid #FE5F1E;
      text-align: center;
      border-radius: 30px;
      cursor: pointer;
      color: #FE5F1E;

      &:hover {
        color: #fff;
        background-color: #FE5F1E;
      }
    }
  }

  :global {
    .selected {
      a {
        color: #fff;
        background-color: #FE5F1E;
      }
    }
  }
}